body {
    height: 100vh;
    margin: 0;
}

svg {
    font-family: 'Montserrat';
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s font-size;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

svg rect {
    fill: white;
    mask: url(#mask);
}

@media screen and (max-width: 1200px) {
    svg {
        font-size: 3em;
    }
}